In [1]:
a = 10
b = 5 

print("a + b =", a + b)

a + b = 15

In [4]:
age = 30
name= "John"
is_student = True
pi_value = 3.14

print(type(age))
print(type(name))
print(type(is_student)) 
print(type(pi_value))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [ ]:
num = 7
_num = 8
2num = 12

print("num =", num)  # This will print the value of num
print("_num =", _num)  # This will print the value of _num
print("2num =", 2num)  # This will raise a SyntaxError because variable names cannot start with a digit

SyntaxError: invalid decimal literal (3629131801.py, line 1)

In [ ]:
num = 2.5e12      # 2.5*10^12 meka thamai methana variable ekakt define karala thiyenne

print("num =", num)  # This will print the value of num in scientific notation
print(type(num))  # This will print the type of num, which is float

num = 2500000000000.0
<class 'float'>

In [8]:
a = 7 
b = float(a)  # This will convert the integer a to a float

print(a, type(a))  # This will print the value of a and its type
print(b, type(b))  # This will print the value of b and its type after conversion

7 <class 'int'>
7.0 <class 'float'>

In [9]:
c = 5.8 
d = int(c)  # This will convert the float c to an integer

print(c, type(c))  # This will print the value of c and its type
print(d, type(d))  # This will print the value of d and its type after conversion

5.8 <class 'float'>
5 <class 'int'>

In [ ]:
my_list = [10, "Dog", 9.8, True, 20]
remove_list = []

print(my_list)  # This will print the entire list

print(my_list[2])  # This will print the first element of the list

print(my_list[1:4])  # This will print a slice of the list from index 1 to 3 (not including index 4)

print(my_list[:4])  # This will print the first four elements of the list

print(my_list[2:]) # This will print the elements of the list starting from index 2 to the end

print(my_list[-1])  # This will print the last element of the list

print(len(my_list))  # This will print the length of the list

my_list[1] = "Cat"  # This will change the second element of the list from "Dog" to "Cat"
print(my_list)  # This will print the modified list

my_list.append("Fish")  # This will add "Fish" to the end of the list
print(my_list)  # This will print the list after appending "Fish"

my_list.insert(2, "Bird")  # This will insert "Bird" at index 2 of the list
print(my_list)  # This will print the list after inserting "Bird"

my_list.remove("Cat")  # This will remove "Cat" from the list
print(my_list)  # This will print the list after removing "Dog"

my_list.pop()  # This will remove the last element of the list
print(my_list)  # This will print the list after popping the last element

my_list.clear()  # This will remove all elements from the list
print(my_list)  # This will print the empty list after clearing it

[10, 'Dog', 9.8, True, 20]
9.8
['Dog', 9.8, True]
[10, 'Dog', 9.8, True]
[9.8, True, 20]
20
5
[10, 'Cat', 9.8, True, 20]
[10, 'Cat', 9.8, True, 20, 'Fish']
[10, 'Cat', 'Bird', 9.8, True, 20, 'Fish']
[10, 'Bird', 9.8, True, 20, 'Fish']
[10, 'Bird', 9.8, True, 20]
[]
Fish

In [ ]:
my_list_1 = [1, 2, 3]
my_list_2 = [4, 5, 6]   

my_list_3 = my_list_1 + my_list_2  # This will concatenate the two lists
print(my_list_3)  # This will print the concatenated list

my_list_1.extend(my_list_2)  # This will extend my_list_1 by appending elements from my_list_2
print(my_list_1)  # This will print my_list_1 after extending it with my_list_2

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [21]:
my_list = ["apple", 20, "orange", True, 9.6, 5]


my_list[1:4] = [18, "banana", False]  # This will replace elements at indices 1, 2, and 3
print(my_list)  # This will print the list after replacing multiple elements

['apple', 18, 'banana', False, 9.6, 5]

In [25]:
my_list = [1, 2, 3, 4, 5]

remove_list = my_list.pop(2)  # This will remove the element at index 2 and return it
print(remove_list)  # This will print the removed element, which is 3

3

In [29]:
my_list = [10, 20, 30, 40, 50]

del my_list[3]  # This will delete the element at index 3
print(my_list)  # This will print the list after deleting the element at index 3

[10, 20, 30, 50]

In [ ]:
my_list = ["oranage", "apple", "banana", "Grape"] 
my_list.sort()  # This will sort the list in ascending order    
print(my_list)  # This will print the sorted list      # upercase walata mul thanak denawa


my_list_num = [ 40, 50, 10, 60, 70, 80, 90]
my_list_num.sort()  # This will sort the list of numbers in ascending order
print(my_list_num)  # This will print the sorted list of numbers

my_list_num2 = [ 40, 50, 10, 60, 70, 80, 90]
my_list_num2.sort(reverse=True)  # This will sort the list of numbers in descending order  #wadi eke idn onnm mehema karanna one
print(my_list_num2)  # This will print the sorted list of numbers in descending order

['Grape', 'apple', 'banana', 'oranage']
[10, 40, 50, 60, 70, 80, 90]
[90, 80, 70, 60, 50, 40, 10]

In [34]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()  # This will reverse the order of elements in the list
print(my_list)  # This will print the reversed list

[5, 4, 3, 2, 1]

In [ ]:
list_1 = [1, 2, 3]
list_2 = list_1.copy()  # This will create a shallow copy of list_1
list_1.append(4)  # This will add 4 to the copied list
print(list_2)  # This will print the copied list

[1, 2, 3]

In [43]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_3 = list_1 + list_2  # This will concatenate the two lists
print(list_3)  # This will print the concatenated list

[1, 2, 3, 4, 5, 6]