In [5]:
def add_numbers(a,b):
    """
    This function adds two numbers.
    """
    return a + b

print(add_numbers(10,20))

30

In [41]:
""" write a function remove duplicate(my_list) that return a list with duplicates removed(receving the original order)
also you should write a few line of code to test the function"""

def remove_duplicate(my_list):
    unique_list = []
    for item in my_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

print(remove_duplicate([1,1,2,6,3,1,4,6]))

[1, 2, 6, 3, 4]

In [100]:
"""write a function factorial(n) that returns the factorial of given number n."""
def factorial(n):
    if n == 0:
        return 1
    
    result = 1
    for i in range(1, n + 1):
         result *= i
    return result
    
print(factorial(2))

2

In [102]:
def add_numbers(a, b=8):
    """
    This function adds two numbers.
    """
    return a + b

print(add_numbers(10, 20))
print(add_numbers(12))
print(add_numbers(9,3,7)) #Error: add_numbers() takes from 1 to 2 positional arguments but 3 were given
print(add_numbers()) #Error: add_numbers() missing 1 required positional argument: 'a'

30
20

TypeError: add_numbers() takes from 1 to 2 positional arguments but 3 were given

In [103]:
#Default arguments can be used to provide a default value for a parameter.
def add_numbers(a, b=8):
    """
    This function adds two numbers.
    """
    return a + b
print(add_numbers(10, 20))  # Output: 30
print(add_numbers(12))       # Output: 20 (b defaults to 8)

30
20

In [105]:
#keyword arguments allow you to pass arguments by name, rather than position.

def print_info(name, age):
    print(f"Name: {name}, Age: {age}")


print_info(name="Alice", age=30)  # Output: Name: Alice, Age: 30
print_info(age=25, name="Bob")      # Output: Name: Bob, Age: 25

Name: Alice, Age: 30
Name: Bob, Age: 25

In [106]:
# write a function that calculates and return the value of a number raised to a sert power.
# The function should accept two arguments: the number and the asponent.If the asponent is not provided, it should calculate the square of the number.

def power(number, exponent=2):
    return number ** exponent

# Testing the power function
print(power(3))          # Output: 9 (3 squared)

9

In [113]:
# write a function that calculate employee next salary.
# The function should accept based salaray,bonus(default is 0) and tax rate(default is 10%).
# Demonstrate different ways of calling this function using positional and keyword arguments.

def calculate_salary(base_salary, bonus=0, tax_rate=0.1):
    """
    Calculate the next salary after applying bonus and tax.
    """
    gross_salary = base_salary + bonus
    net_salary = gross_salary * (1 - tax_rate)
    return net_salary

# Testing the calculate_salary function
print(calculate_salary(5000))                # Using default bonus and tax rate
print(calculate_salary(5000, bonus=500))     # Using default tax rate   
print(calculate_salary(5000, tax_rate=0.15))  # Using default bonus
print(calculate_salary(5000, bonus=500, tax_rate=0.2))  # Using both bonus and tax rate

4500.0
4950.0
4250.0
4400.0

In [115]:
def arbitary_positional_args(*args):
    
    print(type(args))  # This will show that args is a tuple
    
    for arg in args:
        print(arg)

# Testing the function with arbitrary positional arguments
arbitary_positional_args(1, 2, 3, "hello", [4, 5])

<class 'tuple'>
1
2
3
hello
[4, 5]

In [124]:
# write a function multiply_all() that accept any number of numbers and return their product.If no numbers are provided,
# it should return 1.

def multiply_all(*args):
    if len(args) == 0:
        return 1
    
    product = 1
    for num in args:
        product *= num
    return product

# Testing the multiply_all function
print(multiply_all(2, 3, 4))  # Output: 24

24

In [148]:
#write a function that accepts any number of numbers and returns the maximum number among them.do not use the built-in max() function.

def find_maximum(*args):

    if not args:
        return "Please provide at least one number."
    
    max_value = 0 

    for num in args:
        if num > max_value:
            max_value = num
    return max_value


print(find_maximum(10,5,9))

Please provide at least one number.

In [ ]:
def arbitary_keyword_args(**kwargs):

    for key,value in kwargs.items():
        print(f"{key}={value}")

arbitary_keyword_args(name="Jhon",age=30,city="Colombo")

name=Jhon
age=30
city=Colombo

In [188]:
my_dict = {
    "name" : "Alice",
    "age"  : "30",
    "city" : "Horana"
}


for key in my_dict.keys():
    print(key, end=" ")

print()    

for value in my_dict.values():
    print(value, end=" ")   

print()    

for item in my_dict.items():
    print("Key : ",key,", Value : ",value)

name age city
Alice 30 Horana
Key :  city , Value :  Horana
Key :  city , Value :  Horana
Key :  city , Value :  Horana

In [206]:
# you are developing a student management system ,
#1.write a function add_students() with acept ant num of key arguments where keys are stu_id and  values are stu_names.
#2.The function should store all student in to a dict
#3.Write another function display students with acccept the dict and bring all stu_id and names in a need format

#demostrate your function by adding at least five students using keyword arguments and display then. 


def add_students(**kwargs):
    students = {}
    for key, value in kwargs.items():
        students[key] = value
    return students


def display_students(students):
    for key,value in students.items():
        print("Student ",key, ":", value)


students = add_students(
              S001="Alice",
              S002="Bob", 
              S003="Charlie",
              S004="David",
              S005="Eve"
            )
display_students(students)

Student  S001 : Alice
Student  S002 : Bob
Student  S003 : Charlie
Student  S004 : David
Student  S005 : Eve

# Python built in functions

In [ ]:
#write a function that accepts a number and returns its absolute value.

print(abs(-10))  # Output: 10
print(abs(5))    # Output: 5

10
5

In [216]:
def find_square(x):
	return x ** 2

my_list = [1, 5, 8, 3]

squared_list = map(find_square, my_list)

squared_list = list(squared_list)  # Convert map object to list

print(squared_list)  # Output: [1, 25, 64, 9]

[1, 25, 64, 9]

In [223]:
# write a function that convert a list of temperatures in Celsius to Fahrenheit,

# To coversion you can use the formula: F = C * 9/5 + 32
# use the map() function to apply the conversion.
# function should return a list of Fahrenheit value.

def convert_to_fahrenheit(celsius):
        return celsius * 9/5 + 32

def celsius_to_fahrenheit(celsius_list):
    fahrenheit_list = map(convert_to_fahrenheit, celsius_list)
    return list(fahrenheit_list)

print(celsius_to_fahrenheit([0, 20, 37, 100]))

[32.0, 68.0, 98.6, 212.0]

In [228]:
# filter() function is used to filter elements from an iterable based on a condition.

my_list = [1, 2, 3, 4, 5, 6]

def is_even(num):
    return num % 2 == 0

even_list = filter(is_even, my_list)
even_list = list(even_list)  # Convert filter object to list
print(even_list)  # Output: [2, 4, 6]

[2, 4, 6]

In [230]:
# lambda functions are small anonymous functions defined using the `lambda` keyword.

add = lambda x, y : x + y

print(add(5, 3))  # Output: 8

8

In [ ]:
# given the following list use map with a lambda function to create a new list where each item is doubled.

my_list = [12,9,8,21,30]
print(list(map(lambda x : x * 2, my_list)))

[24, 18, 16, 42, 60]

In [236]:
# you are given the following list of integers.write a python program that uses the filter() function with a lambda function to 
# remove all odd numbers from the list.

my_list = [12,9,8,21,30]
print(list(filter(lambda x : x % 2 == 0, my_list)))

[12, 8, 30]

In [ ]:
# write a lambda function(don't use any built-in functions) to deside the maximum number between two numbers.

max_num = lambda x,y : x if x > y else y
print(max_num(10, 20))

10