In [ ]:
sports = ("football", "basketball", "tennis", "cricket", "hockey")

print(sports) # display elements in the tuple
print(type(sports))  # <class 'tuple'>
print(sports[0])  # this is the first element
print(len(sports))  # this is the length of the tuple

sports[1] = "baseball"  # this will raise an error because tuples are immutable/imutable wenne aluthen add karannath ba ayin karannath ba
print(sports[1])  # this will not execute due to the error above

('football', 'basketball', 'tennis', 'cricket', 'hockey')
<class 'tuple'>
football
5

TypeError: 'tuple' object does not support item assignment

In [10]:
single = ("football")  # this is a single element  without a comma
print(single)  # display the single element tuple 
print(type(single))  # <class 'String'>

single = ("football",)  # this is a single element tuple with a comma
print(single)  # display the single element tuple
print(type(single))  # <class 'tuple'>

football
<class 'str'>
('football',)
<class 'tuple'>

In [12]:
my_tuple = ("football", 30, True, "tennis", "cricket")
print(my_tuple[:4])  # this will display the first four elements
print(my_tuple[1:3])  # this will display the second and third elements
print(my_tuple[2:])  # this will display all elements from the third element onwards

('football', 30, True, 'tennis')
(30, True)
(True, 'tennis', 'cricket')

In [19]:
my_tuple = ("apple", "banana", "orange")

temp_list = list(my_tuple)  # convert tuple to list
print(temp_list,type(temp_list))  # display the list and its type

temp_list[1] = "grape"  # modify the second element
my_tuple = tuple(temp_list)  # convert list back to tuple
print(my_tuple,type(my_tuple))  # display the modified tuple and its type

['apple', 'banana', 'orange'] <class 'list'>
('apple', 'grape', 'orange') <class 'tuple'>

In [22]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[1][1])  # this will display the second element of the second tuple

temp_list = list(nested_tuple[2])  # convert the third tuple to a list  
temp_list[0] = False  # modify the first element of the third tuple
nested_tuple = (nested_tuple[0], nested_tuple[1], tuple(temp_list))  # convert the modified list back to a tuple
print(nested_tuple)  # this will display the modified nested tuple

b
((1, 2, 3), ('a', 'b', 'c'), (False, False))

In [ ]:
sports = {"tennis", "football", "cricket", "hockey", "basketball"}  # this is a set
print(sports)  # display elements in the set

{'hockey', 'basketball', 'football', 'cricket', 'tennis'}

In [25]:
fruits = {"apple", "banana", "orange"}  # this is another set
fruits.add("grape")  # add an element to the set
print(fruits)  # display the modified set

{'banana', 'orange', 'grape', 'apple'}

In [ ]:
fruits = {"apple", "banana", "orange"}  # this is another set
animals = {"dog", "cat", "rabbit"}  # this is another set

fruits.update(animals)  # merge two sets
print(fruits)  # display the merged set

{'banana', 'cat', 'orange', 'dog', 'rabbit', 'apple'}

In [27]:
fruits = {"apple", "banana", "orange"}  # this is another set
animals = ["dog", "cat", "rabbit"]  # this is list

fruits.update(animals)  # merge a set and a list

print(fruits)  # display the merged set and list

{'orange', 'dog', 'banana', 'cat', 'rabbit', 'apple'}

In [28]:
sports = {"criket", "football", "hockey", "basketball"}  # this is a set

sports.remove("football")  # remove an element from the set
print(sports)  # display the modified set

{'hockey', 'basketball', 'criket'}

In [30]:
range_1 = range(1,7,1)  # this is a range object
print(range_1)  # display the range object
print(type(range_1))  # <class 'range'>

for i in range_1:  # iterate through the range object
    print(i)  # display each element in the range object

range(1, 7)
<class 'range'>
1
2
3
4
5
6

In [36]:
range_2 = range(3,24,4)  # this is another range object
print(range_2[0])  # display the first element
print(range_2[1])  # display the second element 
print(range_2[2])  # display the third element
print(range_2[3])  # display the fourth element
print(range_2[4])  # display the fifth element
print(range_2[5])  # display the sixth element
print(range_2[6])  # this will raise an error because there are only 6 elements in the range object / / IndexError: range object index out of range

3
7
11
15
19
23

IndexError: range object index out of range

In [ ]:
range_3 = range(5,12)  # this is another range object // default step is 1
print(range_3[0])  # display the first element
print(range_3[1])  # display the second element
print(range_3[2])  # display the third element

5
6
7

In [38]:
this_dict = {"name": "John",
            "age": 30,
            "city": "New York"}  # this is a dictionary

print(type(this_dict))  # <class 'dict'>
print(this_dict)  # display the dictionary

<class 'dict'>
{'name': 'John', 'age': 30, 'city': 'New York'}

In [49]:
this_dict = {"name": "John",
            "age": 30,
            "city": "New York",
            "city": "London"}  # this is a dictionary
print(this_dict)  # display the dictionary with duplicate keys, the last value will be taken

print(this_dict["name"])  # display the value of the key "name"
print(this_dict.get("age")) # display the value of the key "age"  //me method dekenma element access karanna puluwn

this_dict["age"] = 31  # modify the value of the key "age"
print(this_dict)  # display the modified dictionary
print(len(this_dict))  # display the length of the dictionary
print(this_dict.keys())  # display the keys of the dictionary
print(this_dict.values())  # display the values of the dictionary

this_dict["country"] = "USA"  # add a new key-value pair to the dictionary
print(this_dict)  # display the modified dictionary with the new key-value pair

this_dict.update({"dateOfBirth": "1990-01-01","name": "Kane"})  # update the dictionary with a new key-value pair and modify an existing key
print(this_dict)  # display the modified dictionary with the new key-value pair

this_dict.pop("country")  # remove the key "country" from the dictionary
print(this_dict)  # display the modified dictionary after removing the key "country"

this_dict.popitem()  # remove the last key-value pair from the dictionary
print(this_dict)  # display the modified dictionary after removing the last key-value pair

{'name': 'John', 'age': 30, 'city': 'London'}
John
30
{'name': 'John', 'age': 31, 'city': 'London'}
3
dict_keys(['name', 'age', 'city'])
dict_values(['John', 31, 'London'])
{'name': 'John', 'age': 31, 'city': 'London', 'country': 'USA'}
{'name': 'Kane', 'age': 31, 'city': 'London', 'country': 'USA', 'dateOfBirth': '1990-01-01'}
{'name': 'Kane', 'age': 31, 'city': 'London', 'dateOfBirth': '1990-01-01'}
{'name': 'Kane', 'age': 31, 'city': 'London'}